<div class="modal-content absolute-center">
    <div class="modal-close modal-close-x">&times;</div>

    <div class="modal-content-inner">
        <h2>Edit Item <strong><%=title%></strong>
            <button class="edit-item--delete btn-xs btn-danger">Delete Item</button>
        </h2>
        <a class="edit-item--remove-item" href="#">-Remove Item</a>
        <form>
            <input type="hidden" name="item[id]" value="<%=id%>">
            <div>
                <label for="title">Title: </label>
                <input name="item[title]" id="title" value="<%=title%>">
            </div>
            <div>
                <%if(price){%>
                    <label for="price">Price: $</label>
                    <input name="item[price]" id="price" value="<%=price%>">
                <a href="#" class="edit-item--remove-price">-Remove Price</a>
                <%}else{%>
                    <a href="#" class="edit-item--add-price">+Add Price</a>
                <%}%>
            </div>

            <hr>
            <h3>Item Description / Sub Item:</h3>
            <ol>

            <%
                if(descriptions.length>0){
                    _.each(descriptions, function(item, idx){
            %>
                <li>
                    <label for="sub-item-desc-<%=idx%>"></label><br>
                    <textarea name="item[descriptions][][text]" id="sub-item-desc<%=idx%>"><%=item.text%></textarea>
                    <a href="#" class="edit-item--remove-item">-Remove Item</a><br>
                    <%if(item.price){%>
                    <label for="sub-item-price-<%=idx%>">Price: $</label>
                    <input name="item[descriptions][][price]" value="<%=item.price%>">
                    <a href="#" class="edit-item--remove-price">-Remove Price</a><br>
                    <%}else{%>
                    <a href="#" class="edit-item--add-price">+Add Price</a>
                    <%}%>
                    <input type="hidden" name="item[descriptions][][id]" value="<%=item.id%>">
                   <br>
                </li>
                <%
                    })
                }
            %>
            </ol>
            <a href="#" class="edit-item--add-sub-item">+Add Item</a>

            <br>
            <div class="edit-item--update btn btn-primary">Update Item</div>
            <div class="edit-item--cancel btn btn-warning">Cancel
            </div>
        </form>

    </div>
</div>
