<div class="modal-content absolute-center">
    <div class="modal-close modal-close-x">&times;</div>

    <div class="modal-content-inner">
        <h2>Edit Item <strong><%=title%></strong></h2>
        <form>
            <div>
                <label for="title">Title: </label>
                <input id="title" value="<%=title%>">
            </div>
            <div>
                <%if(price){%>
                    <label for="price">Price: $</label>
                    <input id="price" value="<%=price%>"><span><a href="#" class="edit-item--remove-price">-Remove Price</a></span>
                <%}else{%>
                    <a href="#" class="edit-item--add-price">+Add Price</a>
                <%}%>
            </div>

            <hr>
            <h3>Item Description / Sub Item:</h3>
            <ol>

            <%
                if(descriptions.length>0){
                    _.each(descriptions, function(item, idx){
            %>
                <li>
                    <label for="sub-item-desc-<%=idx%>"></label><br>
                    <textarea id="sub-item-desc<%=idx%>"><%=item.text%></textarea><br>
                    <%if(item.price){%>
                    <label for="sub-item-price-<%=idx%>">Price: $</label>
                    <input value="<%=item.price%>"><a href="#" class="edit-item--remove-price">-Remove Price</a><br>
                    <%}else{%>
                    <a href="#" class="edit-item--add-price">+Add Price</a>
                    <%}%>
                   <br>
                </li>
                <%
                    })
                }
            %>
            </ol>
            <a href="#" class="edit-item--add-sub-item">+Add Item</a>

            <br>
            <div class="edit-item--update btn btn-primary">Update Item</div>
            <div class="edit-item--delete btn btn-danger">Delete Item</div>
            <div class="edit-item--cancel btn btn-warning">Cancel
            </div>
        </form>

    </div>
</div>
