<%
    //first build the subdivide if there's any
var url = '#dashboard/page-content/'+page+'/';
if(subDivide){
    _.each(subDivide, function(item){
%>
        <a href="<%=url+item['type']%>"><%=item['type']%></a>
<%
    })
}

//next, we break down the 'group'
_.each(sectionOrder, function(type){
%>
    <h3><%=type%></h3>
    <ul>
<%
    _.each(items.where({header: type}), function(item){

%>
        <li class="item-editable" data-id="<%=item.get('id')%>">
        <a href="<%=url+subPage%>/edit/<%=item.get('id')%>"><%=item.get('title')%></a>
        </li>
<%
    });
%>
    </ul>
<%
});
%>


